{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!--Librerias de js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
    <!--Librerias de css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/disenio.css'%}">

    {% block css %}

    {% endblock %}
</head>

<body>
    <!--Aqui está toda la barra de navegacion por las distintas secciones de la pagina web -->
    <nav class="navbar navbar-expand-lg" id="menu_navegador">
        <div class="container-fluid">
            <a class="navbar-brand" id="letras" href="{%url 'index'%}"><b>FixMasters</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active seleccion" id="letras" aria-current="page"
                            href="{%url 'index'%}">{% trans "home" %}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle seleccion" id="letras" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {%  trans "additional information" %}
                        </a>
                        <ul class="dropdown-menu" id="menu_navegador">
                            <li><a class="dropdown-item" id="letras" href="{%url 'Trabajos realizados.html'%}">{% trans "completed works"%}</a></li>
                            <li><a class="dropdown-item" id="letras" href="{%url 'Donde Estamos.html'%}">{% trans "our location" %}</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" id="letras" href="{%url 'Quienes somos.html'%}">{% trans "About us" %}</a></li>
                        </ul>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active seleccion" id="letras" aria-current="page"
                            href="{%url 'Formulario de contacto.html'%}">{% trans "contact" %}</a>
                    </li>
                    {% endif %}
                </ul>

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="nav-link" id="letras" aria-current="page" href="">
                            {% if request.user.image.url %}
                                <img style="border-radius: 50%;" width="40px" height="40px" src="{{ request.user.image.url }}" alt="">
                            {% else %}
                                <img style="border-radius: 50%;" width="40px" height="40px" src="https://objetivoligar.com/wp-content/uploads/2017/03/blank-profile-picture-973460_1280.jpg" alt="">
                            {% endif %}
                            {% trans "welcome_user" %} {{ user.username }}
                        </span>
                    </li>
                {% endif %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle seleccion" id="letras" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {% trans "language_label" %}
                    </a>
                    <ul class="dropdown-menu" id="menu_navegador">
                        <li><a class="dropdown-item" id="letras" href="{% url 'set-language' 'es' %}"> 
                            <img width="20px" height="20px" src="{% static 'images/locale/es.png' %}" alt="Español">
                            {% trans "language_esp_label" %}
                        </a></li>
                        <li><a class="dropdown-item" id="letras" href="{% url 'set-language' 'en' %}"> 
                            <img width="20px" height="20px" src="{% static 'images/locale/en.png' %}" alt="Inglés">
                            {% trans "language_en_label" %}
                        </a></li>
                    </ul>
                </li>

                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active seleccionClaro" href="{%url 'Usuario.html'%}"  id="letras" aria-current="page"> 
                            <img src="{% static 'images/tuercaaa.png' %}" width="20px" height="20pz"> {% trans "settings" %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active seleccionClaro" id="letras" aria-current="page"
                            href="{% url 'logout' %}">{% trans "log out" %}</a>
                    </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active seleccionClaro" id="letras" aria-current="page"
                                href="{%url 'Crear cuenta.html'%}">{% trans "sign up" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active seleccionClaro" id="letras" aria-current="page"
                                href="{%url 'Iniciar Sesion.html'%}">{% trans "log in" %}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <br>

{% block content %}

{% endblock %}

<footer>
    <div class="container">
        <h2 class="section-title text-center1">{% trans "footer_header" %}</h2>
        <div class="row">
            <div class="col-md-6">
                <h2>{% trans "footer_title" %}</h2>
                <p>{% trans "footer_address" %}: Los malvekes #6924, Puente alto, Chile</p>
                <p>{% trans "footer_phone" %}: +123 456 789</p>
                <p>{% trans "footer_email" %}: info@fixmasters.com</p>
            </div>
        </div>

    </div>
</footer>

{% block js %}

{% endblock %}


</body>

</html>