{% extends 'base.html' %}
{% load i18n %} 
{% block content %}

    <!--Se de la informacion de la ubicacion de FixMasters -->
    <div class="text-center">
        <h2 id="ubicadosEn">{% trans "location_title" %}:</h2>
    </div>
    <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="text-center2">
                        <div class="map">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.576124467189!2d-70.5386134!3d-33.5903532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d68ff6898db3%3A0x92956c3b3990ecd8!2sEstero%20Covarrubias%201062%2C%208181094%20Puente%20Alto%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1686153157639!5m2!1ses-419!2scl"
                                style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-bg-warning mb-5 test" id="horarioDeAtencion">
                        <div class="card-body">
                            <h3 class="card-title">{% trans "location_attention_title" %}</h3>
                            <p class="card-text">{% trans "location_attention_desc" %}</p>
                        </div>
                    </div>
                    <div class="card text-bg-warning mb-5" id="accesibilidadYTransporte">
                        <div class="card-body">
                            <h3 class="card-title">{% trans "location_transport_title" %}</h3>
                            <p class="card-text">
                                {% trans "location_transport_desc" %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}