{% extends 'base.html' %}
{% load i18n %} 
{% block content %}
    <!-- Sección de Contacto -->
    <section class="contact-section">
        <div class="container">

            <div class="col-md-6">
                <h3 id="FDC">{% trans "contact_form_title" %}</h3>
                <br>
                <form method="POST" action="{% url 'send-message' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name" id="palabras">{% trans "contact_form_name_label" %}</label>
                        <input name="txtName" type="text" placeholder="{% trans "contact_form_name_placeholder" %}" pattern="[a-zA-Z0-9]+" maxlength="15" class="form-control" id="name" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="email" id="palabras">{% trans "contact_form_email_label" %}</label>
                        <input type="email"
                            placeholder="{% trans "contact_form_email_placeholder" %}"
                            class="form-control" id="email" pattern="[a-zA-Z0-9@.]+" maxlength="50" required disabled value="{{user.email}}">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="message" id="palabras">{% trans "contact_form_message_label" %}</label>
                        <textarea name="txtMessage" 
                        class="form-control" pattern="[a-zA-Z0-9]+" maxlength="600" placeholder="{% trans "contact_form_message_placeholder" %}" id="message"
                            rows="5" required></textarea>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">{% trans "contact_form_send_message" %}</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}