{% extends 'base.html' %}
{% load static %}
{% block content %}
        
    <!--Primera seccion del titulo de la pagina de inicio -->
    <section class="jumbotron text-center">
        <h1 class="display-4" id="tituloColorBlanco">Reparación y Mantenimiento de Computadoras y Notebooks</h1>
        <br>
        <p class="lead" id="subtituloPlateadoClaro">Servicios profesionales y confiables para solucionar problemas de
            hardware.</p>
    </section>
    <!--Aqui se muestra el catalogo de los servicios impartidos con FixMasters-->
    <section class="services-section">
        <div class="container">
            <h2 class="section-title text-center">Nuestros Servicios</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Reparación de Hardware</h3>
                            <p class="card-text">Ofrecemos reparación de hardware para computadoras y notebooks,
                                incluyendo reemplazo de componentes y solución de problemas.
                            </p>
                            <div class="tarjeta">
                                <img width="320px" height="200px" id="imagenReparacion" class="imagenRedonda"
                                    src="{% static 'images/reparacionHardware.jpg'%}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Mantenimiento Preventivo</h3>
                            <p class="card-text">Realizamos mantenimiento preventivo para garantizar el rendimiento
                                óptimo de tu equipo, incluyendo limpieza interna, actualización de software y más.
                            </p>
                            <div class="tarjeta">
                                <img width="320px" height="200px" id="imagenMantenimiento" class="imagenRedonda"
                                    src="{% static 'images/mantenimientoHardware.jpg'%}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Asistencia Remota</h3>
                            <p class="card-text">Brindamos asistencia remota para resolver problemas y ofrecer soporte
                                técnico de manera rápida y conveniente.
                            </p>
                            <div class="tarjeta">
                                <img width="320px" height="200px" id="imagenAsistencia" class="imagenRedonda"
                                    src="{% static 'images/asistencia.jpg'%}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <section class="jumbotron text-center2">
            <p class="lead" id="subtituloPlateadoClaroInvitacionACrear">Si quieres contactarte con nosotros para agendar
                uno de nuestros servicios debes iniciar sesion, si no tienes una cuenta en "<b>FixMasters</b>" ¡que
                esperas para crearla!</p>
        </section>

    </section>
    <div class="text-center2">
        <iframe width="736" height="339" id="video" src="https://www.youtube.com/embed/j1rwARMeNjo"
            title="Servicio Técnico de Computadoras" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>

{% endblock %}

{% block js %}

    <!--Script que permite traer las animaciones hechas en javascript -->
    <script src="{% static 'js/animacion.js'%}"></script>

{% endblock %}