{% extends 'base.html' %}
{% load i18n %}   
{% load static %}
{% block content %} 
    <!--Primera seccion del titulo de la pagina de inicio -->
    <section class="jumbotron text-center">
        <h1 class="display-4" id="tituloColorBlanco">{% trans "index_title" %}</h1>
        <br>
        <p class="lead" id="subtituloPlateadoClaro">
            {% trans "index_subtitle" %}
        </p>
    </section>
    <!--Aqui se muestra el catalogo de los servicios impartidos con FixMasters-->
    <section class="services-section">
        <div class="container">
            <h2 class="section-title text-center">{% trans "index_services_title" %}</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">{% trans "index_card_1_title" %}</h3>
                            <p class="card-text">{% trans "index_card_1_text" %}
                            </p>
                            <div class="tarjeta">
                                <img width="320px" height="200px" id="imagenReparacion" class="imagenRedonda"
                                    src="{% static 'images/reparacionHardware.jpg'%}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">{% trans "index_card_2_title" %}</h3>
                            <p class="card-text">
                                {% trans "index_card_2_text" %}
                            </p>
                            <div class="tarjeta">
                                <img width="320px" height="200px" id="imagenMantenimiento" class="imagenRedonda"
                                    src="{% static 'images/mantenimientoHardware.jpg'%}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">{% trans "index_card_3_title" %}</h3>
                            <p class="card-text">{% trans "index_card_3_text" %}
                            </p>
                            <div class="tarjeta">
                                <img width="320px" height="200px" id="imagenAsistencia" class="imagenRedonda"
                                    src="{% static 'images/asistencia.jpg'%}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <section class="jumbotron text-center2">
            <p class="lead" id="subtituloPlateadoClaroInvitacionACrear">{% trans "index_promo" %}</p>
        </section>

    </section>
    <div class="text-center2">
        <iframe width="736" height="339" id="video" src="https://www.youtube.com/embed/j1rwARMeNjo"
            title="Servicio Técnico de Computadoras" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>

{% endblock %}

{% block js %}

    <!--Script que permite traer las animaciones hechas en javascript -->
    <script src="{% static 'js/animacion.js'%}"></script>

{% endblock %}