{% extends 'base.html' %}
{% load static %}
{% load i18n %}  
{% block content %}
    <!-- Sección Acerca de nosotros -->
    <section class="about-section">
        <div class="container">
            <h2 class="text-center" id="imgAcercaDeNosotros">{% trans "about_title" %}</h2>
            <br>
            <div id="imgST">
                <img src="{% static 'images/servicioTecnico.png'%}" class="rounded mx-auto d-block" width="50%">
            </div>
            <br>

            <div class="history-section">
                <h3>{% trans "about_history_title" %}</h3>
                <p id="parrafoQS">
                    {% trans "about_history_text_1"%}
                </p>
                <p id="parrafoQS">
                    {% trans "about_history_text_2"%}
                </p>
            </div>

            <div class="vision-section">
                <div class="image-container2">
                    <img src="{% static 'images/vision.png'%}" class="rounded" width="120%">
                </div>
                <div class="content-container2">
                    <h3>{% trans "about_vision_title" %}</h3>
                    <p id="parrafoQS2">
                        {% trans "about_vision_text" %}
                    </p>
                </div>
            </div>
            <div class="mission-section">
                <div class="image-container2">
                    <img src="{% static 'images/mision.png'%}" class="rounded mx-auto d-block" width="120%">
                </div>
                <div class="content-container2">
                    <h3>{% trans "about_mission_title" %}</h3>
                    <p id="parrafoQS2">
                        {% trans "about_mission_text_1" %}
                    </p>
                    <p id="parrafoQS2">
                        {% trans "about_mission_text_2" %}
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}