{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center margenTop">
    <!-- Contenido del carrusel -->
    <div id="carouselExampleIndicators" class="carousel slide"  data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="{% static 'images/reparacion1.jpg'%}" class="d-block w-100" alt="Slide 1">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'images/reparacion4.jpg'%}" class="d-block w-100" alt="Slide 2">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/reparacion3.jpg'%}" class="d-block w-100" alt="Slide 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container d-flex align-items-center justify-content-center">
    <!--Se presenta la informacion respecto a los trabajos realizados-->
    <div class="container d-flex align-items-center justify-content-center">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <!-- Contenido de la primera carta -->
                    <div class="card mb-3 card-animation" style="max-width: 550px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{% static 'images/equipoOptimo.png'%}" class="img-fluid rounded-start"
                                    id="imgExperiencia">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Poseemos un equipo de trabajo óptimo</h5>
                                    <p class="card-text">En FixMasters, contamos con un equipo de técnicos altamente
                                        capacitados y
                                        certificados en
                                        reparación
                                        de hardware. Nuestro equipo está formado por profesionales apasionados y
                                        dedicados que
                                        poseen
                                        una
                                        amplia experiencia en la industria y un profundo conocimiento de los últimos
                                        avances
                                        tecnológicos.</p>
                                    <p class="card-text"> Cada uno de nuestros técnicos posee habilidades
                                        especializadas en
                                        diferentes áreas, lo que nos
                                        permite ofrecer una amplia gama de servicios de reparación, desde
                                        computadoras y laptops
                                        hasta
                                        dispositivos móviles y otros dispositivos electrónicos. Nuestro equipo se
                                        mantiene
                                        actualizado
                                        con
                                        las últimas tendencias y avances en el campo de la reparación de hardware
                                        para brindar
                                        soluciones
                                        confiables y eficientes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <!-- Contenido de la segunda carta -->
                    <div class="card mb-3 card-animation separacion-cards" style="max-width: 550px;">
                        <div class="row g-0 flex-row-reverse">
                            <div class="col-md-4">
                                <img src="{% static 'images/experiencia4.png'%}" class="img-fluid rounded-start"
                                    id="imgSatisfaccion">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Compromiso con la satisfacción del cliente</h5>
                                    <p class="card-text">En FixMasters, la satisfacción del cliente es nuestra
                                        máxima prioridad. Nos
                                        esforzamos por
                                        brindar un
                                        excelente servicio al cliente en cada interacción y garantizar que cada
                                        reparación cumpla
                                        con
                                        los
                                        más altos estándares de calidad. Valoramos la confianza que nuestros
                                        clientes depositan en
                                        nosotros
                                        y nos comprometemos a superar sus expectativas en términos de calidad,
                                        tiempo de respuesta y
                                        atención personalizada.</p>
                                    <p class="card-text"> Creemos que la comunicación abierta, la transparencia y la
                                        atención a los
                                        detalles son
                                        fundamentales
                                        para lograr la satisfacción del cliente. Nos enorgullece ofrecer soluciones
                                        personalizadas,
                                        asesoramiento técnico experto y precios competitivos. Trabajamos en estrecha
                                        colaboración
                                        con
                                        nuestros clientes para comprender sus necesidades y brindarles la mejor
                                        experiencia posible.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}