{% extends 'base.html' %}
{% load i18n %} 
{% load static %}
{% block content %}
        
    <div class="profile-section">
        <h2>{% trans "user_title" %}</h2>
        
        <!-- Foto de perfil -->
        <div class="profile-picture">
          <img src="ruta_de_la_imagen.jpg" alt="Foto de perfil" id="profile-picture-img">
          <input type="file" accept="image/*">
        </div>
        
        <!-- Cambiar nombre de usuario -->
        <div class="username-change">
          <label for="name">{% trans "user_username_label" %}</label>
          <input type="text" pattern="[a-zA-Z0-9]+" maxlength="15" id="name" value="{{ user.username }}" disabled>
          <br>
          <button id="change-username-btn">{% trans "user_button_change" %}</button>
        </div>
        
        <!-- Mostrar correo -->
        <div class="email-display">
          <label for="email">{% trans "user_email_label" %}</label>
          <input type="email" id="email" pattern="[a-zA-Z0-9@.]+" maxlength="50" value="{{ user.email }}" disabled>
        </div>
        
        <!-- Mostrar contraseña oculta -->
        <div class="password-display">
          <label for="password">{% trans "user_password_label" %}</label>
          <input type="password " pattern="[a-zA-Z0-9]+" maxlength="15" id="password" value="********" disabled>
        </div>
    </div>
{% endblock %}